In [1]:
import pickle
 
with open('tweet_id_txt_lst.pkl', 'rb') as f:
    tweet_id_txt_lst = pickle.load(f)
    
print("Done!")

Done!

In [2]:
import pickle
 
with open('pd_df_twts.pkl', 'rb') as f:
    pd_df_twts = pickle.load(f)
    
print("Done!")

Done!

In [3]:
import pickle
 
with open('stat_text_analysis_res_1.pkl', 'rb') as f:
    stat_text_analysis_res_1 = pickle.load(f)
    
print("Done!")

Done!

In [4]:
for i in range(5):
    print(tweet_id_txt_lst[i])
    print()

[973810713079812099, 'Hannasuewilson', 'RT @Hannasuewilson: It’s officially Perfect Girls in Bikinis All Over The Explore Page Season and I will NOT COMPARE MY BODY TO THEIRS AND…', 'RT It s officially Perfect Girls in Bikinis All Over The Explore Page Season and I will NOT COMPARE MY BODY TO THEIRS AND', ' Its officially Perfect Girls in Bikinis All Over The Elore Page Season and I will NOT COMPARE MY BODY TO THEIRS AND']

[973675167229489152, 'showupforthis', 'RT @showupforthis: depression: ...\nme: ...\ndepression: ...\nme: ...\ndepression: ...\nme: ...\ndepression: ...\nme: ...\ndepression: ...\nme: ...…', 'RT depression me depression me depression me depression me depression me', ' depression  me  depression  me  depression  me  depression  me  depression  me ']

['XXXXXX', 'jdickie', '@jdickie That’s how I operate too. If your friend had been off work for over 2 years fighting depression and anxiet… https://t.co/IRc4hUy5oI', 'That s how I operate too If your friend had been off work for over 2 years fighting depression and anxiet', 'Thats how I operate too If your friend had been off work for over years fighting depression and anxiet']

[973675167229489152, 'showupforthis', 'RT @showupforthis: depression: ...\nme: ...\ndepression: ...\nme: ...\ndepression: ...\nme: ...\ndepression: ...\nme: ...\ndepression: ...\nme: ...…', 'RT depression me depression me depression me depression me depression me', ' depression  me  depression  me  depression  me  depression  me  depression  me ']

[973675167229489152, 'showupforthis', 'RT @showupforthis: depression: ...\nme: ...\ndepression: ...\nme: ...\ndepression: ...\nme: ...\ndepression: ...\nme: ...\ndepression: ...\nme: ...…', 'RT depression me depression me depression me depression me depression me', ' depression  me  depression  me  depression  me  depression  me  depression  me ']

In [5]:
pd_df_twts.head(n=5)

,URL ID,USER NAME,ORIGINAL TEXT,CLEANED TEXT I,CLEANED TEXT II
0,973810713079812099,Hannasuewilson,RT @Hannasuewilson: It’s officially Perfect Gi...,RT It s officially Perfect Girls in Bikinis Al...,Its officially Perfect Girls in Bikinis All O...
1,973675167229489152,showupforthis,RT @showupforthis: depression: ...\nme: ...\nd...,RT depression me depression me depression me d...,depression me depression me depression m...
2,XXXXXX,jdickie,@jdickie That’s how I operate too. If your fri...,That s how I operate too If your friend had be...,Thats how I operate too If your friend had bee...
3,973675167229489152,showupforthis,RT @showupforthis: depression: ...\nme: ...\nd...,RT depression me depression me depression me d...,depression me depression me depression m...
4,973675167229489152,showupforthis,RT @showupforthis: depression: ...\nme: ...\nd...,RT depression me depression me depression me d...,depression me depression me depression m...

In [6]:
for i in range(5):
    print(stat_text_analysis_res_1[i])

[['fre', 66.07], ['si', 0], ['fkg', 9.5], ['cli', 7.49], ['ari', 9.7], ['dcri', 8.32], ['dw', 5], ['lwf', 12.0], ['gf', 19.89090909090909], ['ts', '9th and 10th grade']]
[['fre', -65.58], ['si', 0], ['fkg', 24.9], ['cli', 16.04], ['ari', 11.8], ['dcri', 5.71], ['dw', 1], ['lwf', 1.5], ['gf', 10.0], ['ts', '11th and 12th grade']]
[['fre', 69.11], ['si', 0], ['fkg', 8.3], ['cli', 8.36], ['ari', 8.9], ['dcri', 7.9], ['dw', 4], ['lwf', 7.0], ['gf', 18.02105263157895], ['ts', '8th and 9th grade']]
[['fre', -65.58], ['si', 0], ['fkg', 24.9], ['cli', 16.04], ['ari', 11.8], ['dcri', 5.71], ['dw', 1], ['lwf', 1.5], ['gf', 10.0], ['ts', '11th and 12th grade']]
[['fre', -65.58], ['si', 0], ['fkg', 24.9], ['cli', 16.04], ['ari', 11.8], ['dcri', 5.71], ['dw', 1], ['lwf', 1.5], ['gf', 10.0], ['ts', '11th and 12th grade']]

In [55]:
fReS = []
for i in range(10):
    print(stat_text_analysis_res_1[i][9])

['ts', '9th and 10th grade']
['ts', '11th and 12th grade']
['ts', '8th and 9th grade']
['ts', '11th and 12th grade']
['ts', '11th and 12th grade']
['ts', '11th and 12th grade']
['ts', '11th and 12th grade']
['ts', '11th and 12th grade']
['ts', '3th and 4th grade']
['ts', '9th and 10th grade']

In [52]:
sI = []
for i in range(10):
    print(stat_text_analysis_res_1[i][8])

['gf', 19.89090909090909]
['gf', 10.0]
['gf', 18.02105263157895]
['gf', 10.0]
['gf', 10.0]
['gf', 10.0]
['gf', 26.8]
['gf', 12.0]
['gf', 14.0]
['gf', 19.89090909090909]

In [45]:
dW = []

# fReS = []
for i in range(len(stat_text_analysis_res_1)):
    try:
        dW.append(stat_text_analysis_res_1[i][6][1])
    except:
        dW.append([])

In [48]:
lWf = []

# fReS = []
for i in range(len(stat_text_analysis_res_1)):
    try:
        lWf.append(stat_text_analysis_res_1[i][6][1])
    except:
        lWf.append([])

In [35]:
cLi = []

# fReS = []
for i in range(len(stat_text_analysis_res_1)):
    try:
        cLi.append(stat_text_analysis_res_1[i][3][1])
    except:
        cLi.append([])

In [17]:
fReS = []
for i in range(len(stat_text_analysis_res_1)):
    try:
        fReS.append(stat_text_analysis_res_1[i][0][1])
    except:
        fReS.append([])

In [24]:
sI = []
for i in range(len(stat_text_analysis_res_1)):
    try:
        sI.append(stat_text_analysis_res_1[i][1][1])
    except:
        sI.append([])

In [29]:


fKg = []
for i in range(len(stat_text_analysis_res_1)):
    try:
        fKg.append(stat_text_analysis_res_1[i][2][1])
    except:
        fKg.append([])

In [38]:
aRi = []


for i in range(len(stat_text_analysis_res_1)):
    try:
        aRi.append(stat_text_analysis_res_1[i][2][1])
    except:
        aRi.append([])

In [41]:
dCr = []


for i in range(len(stat_text_analysis_res_1)):
    try:
        dCr.append(stat_text_analysis_res_1[i][5][1])
    except:
        dCr.append([])

In [53]:
gFs = []


for i in range(len(stat_text_analysis_res_1)):
    try:
        gFs.append(stat_text_analysis_res_1[i][8][1])
    except:
        gFs.append([])

In [56]:
tS = []


for i in range(len(stat_text_analysis_res_1)):
    try:
        tS.append(stat_text_analysis_res_1[i][9][1])
    except:
        tS.append([])

In [42]:
dCr[4]

5.71

In [16]:
len(stat_text_analysis_res_1)

199219

In [18]:
len(fReS)

199219

In [25]:
len(sI)

199219

In [30]:
len(fKg)

199219

In [31]:
fKg[0]

9.5

In [19]:
pd_df_twts['Flesch Reading Ease Score'] = fReS

In [26]:
pd_df_twts['SMOG Index'] = sI

In [32]:
pd_df_twts['Flesch-Kincaid Grade Level'] = fKg

In [36]:

pd_df_twts['Coleman-Liau Index'] = cLi

In [57]:

pd_df_twts['Text Standard'] = tS

In [49]:

pd_df_twts['Linsear Write Formula'] = lWf

In [39]:
pd_df_twts['Automated Readability Index'] = aRi

In [54]:

pd_df_twts['Gunning Fog Scale'] = gFs

In [43]:
pd_df_twts['Dale Chall Readability Score'] = dCr

In [46]:
pd_df_twts['Difficult Words'] = dW

In [58]:
pd_df_twts.head(n=5)

,URL ID,USER NAME,ORIGINAL TEXT,CLEANED TEXT I,CLEANED TEXT II,Flesch Reading Ease Score,SMOG Index,Flesch-Kincaid Grade Level,Coleman-Liau Index,Automated Readability Index,Dale Chall Readability Score,Difficult Words,Linsear Write Formula,Gunning Fog Scale,Text Standard
0,973810713079812099,Hannasuewilson,RT @Hannasuewilson: It’s officially Perfect Gi...,RT It s officially Perfect Girls in Bikinis Al...,Its officially Perfect Girls in Bikinis All O...,66.07,0,9.5,7.49,9.5,8.32,5,5,19.8909,9th and 10th grade
1,973675167229489152,showupforthis,RT @showupforthis: depression: ...\nme: ...\nd...,RT depression me depression me depression me d...,depression me depression me depression m...,-65.58,0,24.9,16.04,24.9,5.71,1,1,10,11th and 12th grade
2,XXXXXX,jdickie,@jdickie That’s how I operate too. If your fri...,That s how I operate too If your friend had be...,Thats how I operate too If your friend had bee...,69.11,0,8.3,8.36,8.3,7.9,4,4,18.0211,8th and 9th grade
3,973675167229489152,showupforthis,RT @showupforthis: depression: ...\nme: ...\nd...,RT depression me depression me depression me d...,depression me depression me depression m...,-65.58,0,24.9,16.04,24.9,5.71,1,1,10,11th and 12th grade
4,973675167229489152,showupforthis,RT @showupforthis: depression: ...\nme: ...\nd...,RT depression me depression me depression me d...,depression me depression me depression m...,-65.58,0,24.9,16.04,24.9,5.71,1,1,10,11th and 12th grade

In [59]:
# with open('pd_df_twt_res.pkl', 'wb') as f:
#     pickle.dump(pd_df_twts, f)