In [1]:
import requests
from bs4 import BeautifulSoup
from bokeh.plotting import figure, curdoc, show
from bokeh.models.formatters import DatetimeTickFormatter
from functools import partial
from bokeh.layouts import column
from bokeh.io import curdoc
from random import randint
from colorama import Fore, Style
# from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time, random
from bokeh.models import DatetimeTickFormatter, ColumnDataSource, ContinuousColorMapper, WheelZoomTool, HoverTool, LinearColorMapper, Legend, LegendItem, SingleIntervalTicker, DatetimeTicker
from datetime import datetime
# from bokeh.palettes import Viridis256
from bokeh.transform import linear_cmap
from bokeh.palettes import Turbo256
# from bokeh.palettes import Category10, Category20, Category20b, Category20c
from bokeh.plotting import figure, show
from tqdm import tqdm
import pandas as pd
# from selenium.webdriver.support.wait import WebDriverWait
# from selenium.webdriver.support import expected_conditions as EC
# from datetime import datetime, timedelta
import re
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry
import pickle 
from functools import lru_cache

In [6]:

@lru_cache(maxsize=10)
def get_all_data():
    user_agents = [
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0",
        "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
        "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
        "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0",
        "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
        "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0",
        # Add more user agents here...
        # ...
    ]
    
    
    
    # Randomly select a user agent
    random_user_agent = random.choice(user_agents)
    
    # Create a session object
    session = requests.Session()
    
    # Set the user agent as a header for the session
    session.headers.update({'User-Agent': random_user_agent,
                            'Accept': 'text/plain'})
    
    url = 'https://www.dsebd.org/latest_share_price_scroll_l.php'


    # Create a Retry object with desired parameters
    retry_strategy = Retry(
        total=3,  # Maximum number of retries
        backoff_factor=1,  # Exponential backoff factor
        status_forcelist=[500, 502, 503, 504]  # HTTP status codes to retry on
    )

    https_adapter = HTTPAdapter(max_retries=retry_strategy, )

    session.mount('https://', https_adapter)
    
    # Make a request using the session
    response = session.get(url, timeout=60)
    
    
    
    # soup = BeautifulSoup(response.text)
    html_content = response.content
    
    # Parse the HTML content with BeautifulSoup
    soup = BeautifulSoup(html_content, 'html.parser')

    all_tr = soup.findAll('div', class_='table-responsive inner-scroll')[0].findAll('tr')
    return all_tr
    

# @lru_cache(maxsize=10)
def get_co_data(co_name, all_tr, debug=False):
    tmp_c = 0
    
    for j in all_tr[1:]:   
        curr_tr_data = j.findAll('td')
        for i in range(len(curr_tr_data)):
            if i == 0:
                if debug==True:
                    print(str(i) , " : ", curr_tr_data[i])
                serial=curr_tr_data[i].text
                pass
            if i % 10 == 0:
                if debug==True:
                    print(str(i) , " : ", curr_tr_data[i])
                if curr_tr_data[i].text == '--':
                    volume = 0
                else: 
                    volume = float(curr_tr_data[i].text.replace(',', ''))
                pass
            elif i % 9 == 0:
                if debug==True:
                    print(str(i) , " : ", curr_tr_data[i])
                if curr_tr_data[i].text == '--':
                    value_of_trades = 0
                else: 
                    value_of_trades = float(curr_tr_data[i].text.replace(',', ''))
                pass
            elif i % 8 == 0:
                if debug==True:
                    print(str(i) , " : ", curr_tr_data[i])
                if curr_tr_data[i].text == '--':
                    number_of_trades = 0
                else: 
                    number_of_trades = float(curr_tr_data[i].text.replace(',', ''))
                pass
            elif i % 7 == 0:
                if debug==True:
                    print(str(i) , " : ", curr_tr_data[i])
                if curr_tr_data[i].text == '--':
                    percentage_change = 0
                else: 
                    percentage_change = float(curr_tr_data[i].text.replace(',', ''))
                pass
            elif i % 6 == 0:
                if debug==True:
                    print(str(i) , " : ", curr_tr_data[i])
                if curr_tr_data[i].text == '--':
                    yesterday_close_price = 0
                else: 
                    yesterday_close_price = float(curr_tr_data[i].text.replace(',', ''))
                pass
            elif i % 5 == 0:
                if debug==True:
                    print(str(i) , " : ", curr_tr_data[i])
                if curr_tr_data[i].text == '--':
                    close_price = 0
                else:
                    close_price = float(curr_tr_data[i].text.replace(',', '')) 
                pass
            elif i % 4 == 0:
                if debug==True:
                    print(str(i) , " : ", curr_tr_data[i])
                if curr_tr_data[i].text == '--':
                    last_low = 0
                else:
                    last_low = float(curr_tr_data[i].text.replace(',', ''))
                pass
            elif i % 3 == 0:
                if debug==True:
                    print(str(i) , " : ", curr_tr_data[i])
                if curr_tr_data[i].text == '--':
                    last_high = 0
                else:
                    last_high = float(curr_tr_data[i].text.replace(',', ''))
                pass
            elif i % 2 == 0:
                if debug==True:
                    print(str(i) , " : ", curr_tr_data[i])
                if curr_tr_data[i].text == '--':
                    last_trading_price = 0
                else:
                    last_trading_price = float(curr_tr_data[i].text.replace(',', ''))
                pass
            elif i % 1 == 0:
                if debug==True:
                    print(str(i) , " : ", curr_tr_data[i])
                if curr_tr_data[i].text == '--':
                    trading_code = 'None'
                else:
                    trading_code = re.sub(r'[^a-zA-Z0-9]', '', curr_tr_data[i].text)
                pass

        
        val_1 = trading_code + '_Serial'
        val_2 = trading_code + '_Company_Name'
        val_3 = trading_code + '_LTP'
        val_4 = trading_code + '_LH'
        val_5 = trading_code + '_LL'
        val_6 = trading_code + '_CP'
        val_7 = trading_code + '_YCP'
        val_8 = trading_code + '_PC'
        val_9 = trading_code + '_NoT'
        val_10 = trading_code + '_VoT'
        val_11 = trading_code + '_Vol'
        val_12 = trading_code + '_Size'


        val_1 = trading_code + '_Serial'
        val_2 = trading_code + '_Company_Name'
        val_3 = trading_code + '_LTP'
        val_4 = trading_code + '_LH'
        val_5 = trading_code + '_LL'
        val_6 = trading_code + '_CP'
        val_7 = trading_code + '_YCP'
        val_8 = trading_code + '_PC'
        val_9 = trading_code + '_NoT'
        val_10 = trading_code + '_VoT'
        val_11 = trading_code + '_Vol'
        val_12 = trading_code + '_Size'

        sz = 30 + float(value_of_trades/100) 
        # vot = value_of_trades 
        # if vot == 0:
        #     vot = 1
        # sz = 30 + (1.0 / float(vot))

        
        

        curr_co_data = {
                        val_1:[serial],
                        val_2:[trading_code],
                        val_3:[last_trading_price],
                        val_4:[last_high],
                        val_5:[last_low],
                        val_6:[close_price],
                        val_7:[yesterday_close_price],
                        val_8:[percentage_change],
                        val_9:[number_of_trades],
                        val_10:[value_of_trades],
                        val_11:[volume],  
                        val_12:[sz],
                        }
            # continue
        tmp_c=tmp_c+1
        if trading_code == co_name:
            if debug==True:
                print('Breaking')
            return curr_co_data
            break

In [3]:
all_tr = get_all_data()

In [31]:
company_lst = ['BEXIMCO', 'EHL', 'STANDBANKL',
              'ISLAMIINS']

In [32]:
tmp = []

for i in range(len(company_lst)):
    tmp.append(get_co_data(company_lst[i], all_tr))

In [33]:
tmp

[{'BEXIMCO_Serial': ['64'],
  'BEXIMCO_Company_Name': ['BEXIMCO'],
  'BEXIMCO_LTP': [115.6],
  'BEXIMCO_LH': [115.6],
  'BEXIMCO_LL': [115.6],
  'BEXIMCO_CP': [115.6],
  'BEXIMCO_YCP': [115.6],
  'BEXIMCO_PC': [0.0],
  'BEXIMCO_NoT': [9.0],
  'BEXIMCO_VoT': [0.48],
  'BEXIMCO_Vol': [4156.0],
  'BEXIMCO_Size': [30.0048]},
 {'EHL_Serial': ['116'],
  'EHL_Company_Name': ['EHL'],
  'EHL_LTP': [103.2],
  'EHL_LH': [105.1],
  'EHL_LL': [102.8],
  'EHL_CP': [103.2],
  'EHL_YCP': [104.4],
  'EHL_PC': [-1.2],
  'EHL_NoT': [1572.0],
  'EHL_VoT': [74.849],
  'EHL_Vol': [724186.0],
  'EHL_Size': [30.74849]},
 {'STANDBANKL_Serial': ['359'],
  'STANDBANKL_Company_Name': ['STANDBANKL'],
  'STANDBANKL_LTP': [8.6],
  'STANDBANKL_LH': [8.7],
  'STANDBANKL_LL': [8.6],
  'STANDBANKL_CP': [8.6],
  'STANDBANKL_YCP': [8.7],
  'STANDBANKL_PC': [-0.1],
  'STANDBANKL_NoT': [25.0],
  'STANDBANKL_VoT': [0.346],
  'STANDBANKL_Vol': [40191.0],
  'STANDBANKL_Size': [30.00346]},
 {'ISLAMIINS_Serial': ['184'],
  'ISLAMIINS_Company_Name': ['ISLAMIINS'],
  'ISLAMIINS_LTP': [57.5],
  'ISLAMIINS_LH': [58.8],
  'ISLAMIINS_LL': [57.2],
  'ISLAMIINS_CP': [57.5],
  'ISLAMIINS_YCP': [57.6],
  'ISLAMIINS_PC': [-0.1],
  'ISLAMIINS_NoT': [73.0],
  'ISLAMIINS_VoT': [5.389],
  'ISLAMIINS_Vol': [93325.0],
  'ISLAMIINS_Size': [30.05389]}]

In [17]:
import pandas as pd

# Define the column names
columns = ['LTP', 'LH', 'LL', 'CP', 'YCP', 'PC', 'NoT', 'VoT', 'Vol', 'Size']

# Create an empty DataFrame
df = pd.DataFrame(columns=columns)

all_data_list = tmp 
company_name = company_lst

# Loop over the company list
for company_data in all_data_list:
    company_name = list(company_data.keys())[0].split('_')[0]
    company_values = [company_data[company_name + '_' + column][0] for column in columns]
    df.loc[company_name] = company_values

# Print the resulting DataFrame
print(df)

              LTP     LH     LL     CP    YCP   PC     NoT     VoT       Vol  \
BEXIMCO     115.6  115.6  115.6  115.6  115.6  0.0     9.0   0.480    4156.0
EHL         103.2  105.1  102.8  103.2  104.4 -1.2  1572.0  74.849  724186.0
STANDBANKL    8.6    8.7    8.6    8.6    8.7 -0.1    25.0   0.346   40191.0
ISLAMIINS    57.5   58.8   57.2   57.5   57.6 -0.1    73.0   5.389   93325.0

                Size
BEXIMCO     30.00480
EHL         30.74849
STANDBANKL  30.00346
ISLAMIINS   30.05389

In [14]:
df

,LTP,LH,LL,CP,YCP,PC,NoT,VoT,Vol,Size
BEXIMCO,115.6,115.6,115.6,115.6,115.6,0.0,9.0,0.480,4156.0,30.00480
EHL,103.2,105.1,102.8,103.2,104.4,-1.2,1572.0,74.849,724186.0,30.74849
STANDBANKL,8.6,8.7,8.6,8.6,8.7,-0.1,25.0,0.346,40191.0,30.00346
ISLAMIINS,57.5,58.8,57.2,57.5,57.6,-0.1,73.0,5.389,93325.0,30.05389

In [20]:
import pandas as pd

# Define the column names
columns = ['LTP', 'LH', 'LL', 'CP', 'YCP', 'PC', 'NoT', 'VoT', 'Vol', 'Size', 'PCL']

# Create an empty DataFrame
df = pd.DataFrame(columns=columns)

all_data_list = tmp 
company_name = company_lst

# Loop over the company list
for company_data in all_data_list:
    company_name = list(company_data.keys())[0].split('_')[0]
    company_values = [company_data.get(company_name + '_' + column, [None])[0] for column in columns[:-1]]  # Exclude the last column "PCL"
    company_values.append(None)  # Add None to represent the PCL column temporarily
    df.loc[len(df)] = company_values

# Get the PC values from previously collected data
previous_pc_values = df['PC'].values.tolist()

# Replace the temporary None value in the last column with the previous PC values
df['PCL'] = previous_pc_values

# Print the resulting DataFrame
print(df)

     LTP     LH     LL     CP    YCP   PC     NoT     VoT       Vol      Size  \
0  115.6  115.6  115.6  115.6  115.6  0.0     9.0   0.480    4156.0  30.00480
1  103.2  105.1  102.8  103.2  104.4 -1.2  1572.0  74.849  724186.0  30.74849
2    8.6    8.7    8.6    8.6    8.7 -0.1    25.0   0.346   40191.0  30.00346
3   57.5   58.8   57.2   57.5   57.6 -0.1    73.0   5.389   93325.0  30.05389

   PCL
0  0.0
1 -1.2
2 -0.1
3 -0.1

In [21]:
df

,LTP,LH,LL,CP,YCP,PC,NoT,VoT,Vol,Size,PCL
0,115.6,115.6,115.6,115.6,115.6,0.0,9.0,0.480,4156.0,30.00480,0.0
1,103.2,105.1,102.8,103.2,104.4,-1.2,1572.0,74.849,724186.0,30.74849,-1.2
2,8.6,8.7,8.6,8.6,8.7,-0.1,25.0,0.346,40191.0,30.00346,-0.1
3,57.5,58.8,57.2,57.5,57.6,-0.1,73.0,5.389,93325.0,30.05389,-0.1

In [22]:
# Loop over the company list
for company_data in all_data_list:
    company_name = list(company_data.keys())[0].split('_')[0]
    company_values = [company_data.get(company_name + '_' + column, [None])[0] for column in columns[:-1]]  # Exclude the last column "PCL"
    company_values.append(None)  # Add None to represent the PCL column temporarily
    df.loc[len(df)] = company_values

# Get the PC values from previously collected data
previous_pc_values = df['PC'].values.tolist()

# Replace the temporary None value in the last column with the previous PC values
df['PCL'] = previous_pc_values

# Print the resulting DataFrame
print(df)

     LTP     LH     LL     CP    YCP   PC     NoT     VoT       Vol      Size  \
0  115.6  115.6  115.6  115.6  115.6  0.0     9.0   0.480    4156.0  30.00480
1  103.2  105.1  102.8  103.2  104.4 -1.2  1572.0  74.849  724186.0  30.74849
2    8.6    8.7    8.6    8.6    8.7 -0.1    25.0   0.346   40191.0  30.00346
3   57.5   58.8   57.2   57.5   57.6 -0.1    73.0   5.389   93325.0  30.05389
4  115.6  115.6  115.6  115.6  115.6  0.0     9.0   0.480    4156.0  30.00480
5  103.2  105.1  102.8  103.2  104.4 -1.2  1572.0  74.849  724186.0  30.74849
6    8.6    8.7    8.6    8.6    8.7 -0.1    25.0   0.346   40191.0  30.00346
7   57.5   58.8   57.2   57.5   57.6 -0.1    73.0   5.389   93325.0  30.05389

   PCL
0  0.0
1 -1.2
2 -0.1
3 -0.1
4  0.0
5 -1.2
6 -0.1
7 -0.1

In [23]:
df

,LTP,LH,LL,CP,YCP,PC,NoT,VoT,Vol,Size,PCL
0,115.6,115.6,115.6,115.6,115.6,0.0,9.0,0.480,4156.0,30.00480,0.0
1,103.2,105.1,102.8,103.2,104.4,-1.2,1572.0,74.849,724186.0,30.74849,-1.2
2,8.6,8.7,8.6,8.6,8.7,-0.1,25.0,0.346,40191.0,30.00346,-0.1
3,57.5,58.8,57.2,57.5,57.6,-0.1,73.0,5.389,93325.0,30.05389,-0.1
4,115.6,115.6,115.6,115.6,115.6,0.0,9.0,0.480,4156.0,30.00480,0.0
5,103.2,105.1,102.8,103.2,104.4,-1.2,1572.0,74.849,724186.0,30.74849,-1.2
6,8.6,8.7,8.6,8.6,8.7,-0.1,25.0,0.346,40191.0,30.00346,-0.1
7,57.5,58.8,57.2,57.5,57.6,-0.1,73.0,5.389,93325.0,30.05389,-0.1

In [24]:
import pandas as pd

# Define the column names
columns = ['LTP', 'LH', 'LL', 'CP', 'YCP', 'PC', 'NoT', 'VoT', 'Vol', 'Size', 'PCL']

# Create an empty DataFrame
df = pd.DataFrame(columns=columns)

all_data_list = tmp 
company_name = company_lst

# Create an empty list to store previous PC values
previous_pc_values = []

# Loop over the company list
for company_data in all_data_list:
    company_name = list(company_data.keys())[0].split('_')[0]
    company_values = [company_data.get(company_name + '_' + column, [None])[0] for column in columns[:-1]]  # Exclude the last column "PCL"
    company_values.append(previous_pc_values.copy())  # Append a copy of previous_pc_values to represent the PCL column
    df.loc[len(df)] = company_values
    
    # Update previous_pc_values with the current PC value
    previous_pc_values.append(company_data.get(company_name + '_PC', [None])[0])

# Print the resulting DataFrame
print(df)

     LTP     LH     LL     CP    YCP   PC     NoT     VoT       Vol      Size  \
0  115.6  115.6  115.6  115.6  115.6  0.0     9.0   0.480    4156.0  30.00480
1  103.2  105.1  102.8  103.2  104.4 -1.2  1572.0  74.849  724186.0  30.74849
2    8.6    8.7    8.6    8.6    8.7 -0.1    25.0   0.346   40191.0  30.00346
3   57.5   58.8   57.2   57.5   57.6 -0.1    73.0   5.389   93325.0  30.05389

                 PCL
0                 []
1              [0.0]
2        [0.0, -1.2]
3  [0.0, -1.2, -0.1]

In [25]:
import pandas as pd

# Define the column names
columns = ['LTP', 'LH', 'LL', 'CP', 'YCP', 'PC', 'NoT', 'VoT', 'Vol', 'Size']

# Create an empty DataFrame
df = pd.DataFrame(columns=columns)

all_data_list = tmp 
company_name_list = company_lst

# Create an empty DataFrame to store the PCL values
pcl_df = pd.DataFrame(columns=['PCL'])

# Loop over the company list
for company_data in all_data_list:
    company_name = list(company_data.keys())[0].split('_')[0]
    company_values = [company_data.get(company_name + '_' + column, [None])[0] for column in columns]
    df.loc[len(df)] = company_values
    
    # Get the previous PC values for the current row
    previous_pc_values = pcl_df.iloc[len(df) - 1, 0]
    
    # Append the current PC value to the previous PC values
    previous_pc_values.append(company_data.get(company_name + '_PC', [None])[0])
    
    # Update the PCL column in the DataFrame
    pcl_df.loc[len(df) - 1, 'PCL'] = previous_pc_values

# Concatenate the PCL DataFrame with the main DataFrame
df = pd.concat([df, pcl_df], axis=1)

# Print the resulting DataFrame
print(df)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [67]:
import pandas as pd

def generate_df(company_lst, all_data_dict_lst):
    # Define the column names
    columns = ['LTP', 'LH', 'LL', 'CP', 'YCP', 'PC', 'NoT', 'VoT', 'Vol', 'Size']
    
    # Create an empty DataFrame
    df = pd.DataFrame(columns=columns)
    
    all_data_list = tmp 
    company_name = company_lst
    
    # Loop over the company list
    for company_data in all_data_list:
        company_name = list(company_data.keys())[0].split('_')[0]
        company_values = [company_data[company_name + '_' + column][0] for column in columns]
        df.loc[company_name] = company_values
    return df.assign(PCL='')
# Print the resulting DataFrame
# print(df)

df = generate_df(company_lst, tmp)

In [68]:
df

,LTP,LH,LL,CP,YCP,PC,NoT,VoT,Vol,Size,PCL
BEXIMCO,115.6,115.6,115.6,115.6,115.6,0.0,9.0,0.480,4156.0,30.00480,
EHL,103.2,105.1,102.8,103.2,104.4,-1.2,1572.0,74.849,724186.0,30.74849,
STANDBANKL,8.6,8.7,8.6,8.6,8.7,-0.1,25.0,0.346,40191.0,30.00346,
ISLAMIINS,57.5,58.8,57.2,57.5,57.6,-0.1,73.0,5.389,93325.0,30.05389,

In [43]:
df.columns

Index(['LTP', 'LH', 'LL', 'CP', 'YCP', 'PC', 'NoT', 'VoT', 'Vol', 'Size',
       'PCL'],
      dtype='object')

In [44]:
def update_pcl_column(df):
    pcl_values = []  # Empty list to store PCL values
    
    for index, row in df.iterrows():
        pcl_list = row['PCL']  # Get the existing PCL list
        
        if pd.isnull(pcl_list):  # Check if PCL list is empty
            pcl_list = [row['PC']]  # Create a new list with PC value
        else:
            pcl_list.append(row['PC'])  # Append PC value to existing list
        
        pcl_values.append(pcl_list)  # Store the updated PCL list
        
    df['PCL'] = pcl_values  # Update the PCL column in the DataFrame
    
    return df

In [45]:
updated_df = update_pcl_column(df)
print(updated_df)

AttributeError: 'str' object has no attribute 'append'

In [54]:
import pandas as pd

def process_dataframe(df):
    for index, row in df.iterrows():
        pcl_list = row['PCL']
        pc_value = row['PC']
        
        if not isinstance(pcl_list, list):
            pcl_list = [pc_value]
        else:
            pcl_list.append(pc_value)
        
        df.at[index, 'PCL'] = pcl_list
    
    return df


updated_df = process_dataframe(df)
print(updated_df)

              LTP     LH     LL     CP    YCP   PC     NoT     VoT       Vol  \
BEXIMCO     115.6  115.6  115.6  115.6  115.6  0.0     9.0   0.480    4156.0
EHL         103.2  105.1  102.8  103.2  104.4 -1.2  1572.0  74.849  724186.0
STANDBANKL    8.6    8.7    8.6    8.6    8.7 -0.1    25.0   0.346   40191.0
ISLAMIINS    57.5   58.8   57.2   57.5   57.6 -0.1    73.0   5.389   93325.0

                Size                 PCL
BEXIMCO     30.00480     [0.0, 0.0, 0.0]
EHL         30.74849  [-1.2, -1.2, -1.2]
STANDBANKL  30.00346  [-0.1, -0.1, -0.1]
ISLAMIINS   30.05389  [-0.1, -0.1, -0.1]

In [55]:
df

,LTP,LH,LL,CP,YCP,PC,NoT,VoT,Vol,Size,PCL
BEXIMCO,115.6,115.6,115.6,115.6,115.6,0.0,9.0,0.480,4156.0,30.00480,"[0.0, 0.0, 0.0]"
EHL,103.2,105.1,102.8,103.2,104.4,-1.2,1572.0,74.849,724186.0,30.74849,"[-1.2, -1.2, -1.2]"
STANDBANKL,8.6,8.7,8.6,8.6,8.7,-0.1,25.0,0.346,40191.0,30.00346,"[-0.1, -0.1, -0.1]"
ISLAMIINS,57.5,58.8,57.2,57.5,57.6,-0.1,73.0,5.389,93325.0,30.05389,"[-0.1, -0.1, -0.1]"

In [56]:
updated_df

,LTP,LH,LL,CP,YCP,PC,NoT,VoT,Vol,Size,PCL
BEXIMCO,115.6,115.6,115.6,115.6,115.6,0.0,9.0,0.480,4156.0,30.00480,"[0.0, 0.0, 0.0]"
EHL,103.2,105.1,102.8,103.2,104.4,-1.2,1572.0,74.849,724186.0,30.74849,"[-1.2, -1.2, -1.2]"
STANDBANKL,8.6,8.7,8.6,8.6,8.7,-0.1,25.0,0.346,40191.0,30.00346,"[-0.1, -0.1, -0.1]"
ISLAMIINS,57.5,58.8,57.2,57.5,57.6,-0.1,73.0,5.389,93325.0,30.05389,"[-0.1, -0.1, -0.1]"

In [69]:
def process_dataframe(df1, df2):
    for index, row in df2.iterrows():
        pcl_list = row['PCL']
        pc_value = df1.at[index, 'PC']
        
        if not isinstance(pcl_list, list):
            pcl_list = [pc_value]
        else:
            pcl_list.append(pc_value)
        
        df2.at[index, 'PCL'] = pcl_list
    
    return df2

process_dataframe(df, df)

,LTP,LH,LL,CP,YCP,PC,NoT,VoT,Vol,Size,PCL
BEXIMCO,115.6,115.6,115.6,115.6,115.6,0.0,9.0,0.480,4156.0,30.00480,[0.0]
EHL,103.2,105.1,102.8,103.2,104.4,-1.2,1572.0,74.849,724186.0,30.74849,[-1.2]
STANDBANKL,8.6,8.7,8.6,8.6,8.7,-0.1,25.0,0.346,40191.0,30.00346,[-0.1]
ISLAMIINS,57.5,58.8,57.2,57.5,57.6,-0.1,73.0,5.389,93325.0,30.05389,[-0.1]

In [66]:
updated_df

,LTP,LH,LL,CP,YCP,PC,NoT,VoT,Vol,Size,PCL
BEXIMCO,115.6,115.6,115.6,115.6,115.6,0.0,9.0,0.480,4156.0,30.00480,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"
EHL,103.2,105.1,102.8,103.2,104.4,-1.2,1572.0,74.849,724186.0,30.74849,"[-1.2, -1.2, -1.2, -1.2, -1.2, -1.2, -1.2, -1...."
STANDBANKL,8.6,8.7,8.6,8.6,8.7,-0.1,25.0,0.346,40191.0,30.00346,"[-0.1, -0.1, -0.1, -0.1, -0.1, -0.1, -0.1, -0...."
ISLAMIINS,57.5,58.8,57.2,57.5,57.6,-0.1,73.0,5.389,93325.0,30.05389,"[-0.1, -0.1, -0.1, -0.1, -0.1, -0.1, -0.1, -0...."

In [65]:
df

,LTP,LH,LL,CP,YCP,PC,NoT,VoT,Vol,Size,PCL
BEXIMCO,115.6,115.6,115.6,115.6,115.6,0.0,9.0,0.480,4156.0,30.00480,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"
EHL,103.2,105.1,102.8,103.2,104.4,-1.2,1572.0,74.849,724186.0,30.74849,"[-1.2, -1.2, -1.2, -1.2, -1.2, -1.2, -1.2, -1...."
STANDBANKL,8.6,8.7,8.6,8.6,8.7,-0.1,25.0,0.346,40191.0,30.00346,"[-0.1, -0.1, -0.1, -0.1, -0.1, -0.1, -0.1, -0...."
ISLAMIINS,57.5,58.8,57.2,57.5,57.6,-0.1,73.0,5.389,93325.0,30.05389,"[-0.1, -0.1, -0.1, -0.1, -0.1, -0.1, -0.1, -0...."